@font-face {
    font-family: 'letra_animacion';
    src: url('../mickey/MICKEY.TTF');
}
body {
    padding: 0% 5% 0% 5%;
    background: no-repeat;
    background-image: url("../img/cielo.jpg");
    background-size: 100% 100%;
}

@media (min-height: 870px) {
    body {
        height: 848px;
    }
  }
@media (min-height: 1350px) {
    body {
        height: 1325px;
    }
}

input[type="color"] {
    float: right;
}
#logout {
    float: left;
    padding: 1.5%;
    font-family: 'letra_animacion';
    background-color: transparent;
}
footer {
    background-color: green;
    width: 89.2%;
    height: 15%;
    position: fixed;
    bottom: 0%;
}
.user_profile {
    border-right: 10px solid gray;
    width: 15%;
    float: left;
    text-align: center;
    font-family: 'letra_animacion';
    padding: 2.75%;
    height: 100%;
    background: linear-gradient(163deg, black 1px, black 14px, transparent 14px),  linear-gradient(161deg, black 1px, black 2px, black 15px, transparent 15px),  linear-gradient(343deg, black 1px, black 14px, transparent 14px),  linear-gradient(343deg, black 1px, black 14px, transparent 14px); background-color:white; background-position: 2px 1px, 23px 16px,48px 15px, 21px 30px; background-size: 48px 30px;
}

.profile {
    background-color: white;
    height: 350px;
    border: 5px solid gray;
}
.user_profile img.img_perfil{
    width: 80%;
    border-radius: 50%;
}


.panel_highscore {
    width: 17.5%;
    float: right;
    height: 90%;
    background: linear-gradient(163deg, black 1px, black 14px, transparent 14px),  linear-gradient(161deg, black 1px, black 2px, black 15px, transparent 15px),  linear-gradient(343deg, black 1px, black 14px, transparent 14px),  linear-gradient(343deg, black 1px, black 14px, transparent 14px); background-color:white; background-position: 2px 1px, 23px 16px,48px 15px, 21px 30px; background-size: 48px 30px;
    font-family: 'letra_animacion';
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.panel_highscore h4 {
    transform: rotate(25deg);
    background-color: white;
    height: min-content;
    padding: 2.75%;
    border: 5px solid gray;
    width: min-content;
}

.panel_highscore table {
    background-color: white;
    height: min-content;
    width: 85%;
    border: 5px solid gray;
}

.base {
    width: 590px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.d-none {
    display: none;
    background-color: transparent !important;
    border: none !important;
}
.square {
    width: 27.5px;
    height: 27.5px;
    border: 1px solid transparent
}
.mode_games {
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: red;
}


.head {
    background-color: black !important;
}

.apple {
    background-color: red !important;
    border-radius: 10% !important;
}
.mode_games button {
    padding: 1.5%;
    margin: 1.5%;
    font-family: 'letra_animacion';
    border-radius: 15%;

}
.description_game {
    background-color: white;
    border: 15px solid gray;
    width: 60%;
    margin: 2.5%;
    padding: 1.75%;
    display: flex;
   flex-flow: column wrap;
   font-family: 'letra_animacion';
}
.button_play {
    font-family: 'letra_animacion';
    background-color: transparent;
    border: 2px solid black;
}
.base_dead {
    background-color: black !important;
}

.button_game {
    padding: 1.75%;
    font-family: 'letra_animacion';
    float: right;
    margin: 1.25% 1% 0% 1.75%;
    border: 2px solid brown;
    background-color: rgb(233, 163, 59);
}
.buttons_game {
    height: 100px;
    width: 100%;
}
.button_game button{
    height: 100%;
    width: 100%;
}
.game_over {
    background-color: white !important;
}
.lick {
    background-color: red !important;
}

@keyframes anim_bomb{
    0% {background-color: #ff0;}
   50% {background-color: rgb(48, 41, 41)} 
  
}

@keyframes explosion{
    0% {background-color: #ff0;}
   50% {background-color: orange }
  
}
.bomb {
    border-radius: 50%;
    animation-name: anim_bomb;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.explosion {
    animation-name: explosion;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.wall {
    background-color: rgb(34, 32, 36) !important;
}
.description_game button {
    padding: 1.5%;
    margin-top: 2.5%;
}